@charset 'utf-8';

/**
 * 블록
**/

.gn-block {
    padding: 20px 16px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    + .gn-block {
        margin-top: 12px;
    }
}