@charset 'utf-8';

/**
 * 이미지
**/


.image-token-2080 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_2080.png") center center/cover no-repeat;
}

.image-token-solana {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_sol.png") center center/cover no-repeat;
}