@charset 'utf-8';

/**
 * 이미지
**/


.image-token-2080 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_2080.png") center center/cover no-repeat;
}

.image-token-solana {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_sol.png") center center/cover no-repeat;
}

.image-token-usdc {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_usdc.png") center center/cover no-repeat;
}

.image-token-pyth {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_pyth.png") center center/cover no-repeat;
}

.image-token-wen {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_wen.png") center center/cover no-repeat;
}

.image-token-jup {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_jup.png") center center/cover no-repeat;
}

.image-token-ded {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: url("/image/token_ded.gif") center center/cover no-repeat;
}