@charset 'utf-8';

/**
 * NFT 정보
**/

.gn-nft-price {
    margin-bottom: 42px;

    .text-heading {
        padding: 0;

        + p {
            margin-top: 2px;
            font-weight: 400;
            color: #999;
            font-size: 11px;
        }
    }

    .gn-box {
        display: flex;
        margin-top: 10px;
        gap: 8px;
        padding: 14px;
        align-items: center;

        .text-collection {
            flex: 1;
            font-weight: 600;

            span {
                display: block;
                font-weight: 400;
                color: #999;
                font-size: 11px;
            }
        }

        .text-price {
            flex: 1;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
        }
    }
}