@charset 'utf-8';

/**
 * 토큰 가격
**/

.gn-token-price {
    .text-heading {
        margin-bottom: 2px;

        + p {
            font-weight: 400;
            color: #999;
            font-size: 11px;
        }
    }

    ul {
        margin-top: 12px;

        li {
            display: flex;
            gap: 8px;
            padding: 14px;
            align-items: center;

            .text-price {
                flex: 1;

                .text-token {
                    display: block;
                }
            }

            .image-token {
                overflow: hidden;
                width: 32px;
                height: 32px;
                border-radius: 100%;
            }

            .text-token {
                font-weight: 700;
                font-size: 16px;
            }

            .text-price {
                flex: 1;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
            }
        }
    }

    + * {
        margin-top: 12px;
    }
}