@charset 'utf-8';

/**
 * 레벨업 시뮬레이터
**/

.gn-level {
    table {
        margin-top: 12px;
        font-size: 14px;
        line-height: 20px;

        th {
            padding: 6px 4px;
            border: 1px solid #eee;
            background-color: #eee;
            font-weight: 600;
        }

        td {
            padding: 6px 4px;
            border-bottom: 1px solid #eee;

            i {
                margin: 0 6px;
            }

            &:last-child {
                font-weight: 500;
                color: #dc143c;
            }
        }
    }
}