@charset 'utf-8';

/**
 * 덱스 시뮬레이터
**/

.gn-looting {
    .gn-form-box {
        position: relative;

        // 레벨 슬라이더
        .form-slider {
            margin: 0 auto;
            width: 93%;

            .MuiSlider-thumb {
                color: #131313;

                &::before,
                &.Mui-focusVisible {
                    box-shadow: none;
                }

                &.Mui-active {
                    box-shadow: 0px 0px 0px 14px rgba(19, 19, 19, 0.3);
                }

                &:hover {
                    box-shadow: 0px 0px 0px 8px rgba(19, 19, 19, 0.3);
                }
            }

            .MuiSlider-track {
                border-color: #131313;
                background-color: #131313;
            }

            .MuiSlider-rail {
                background-color: #999;
            }
        }

        .text-level {
            position: absolute;
            top: -32px;
            right: 0;
            margin: 0;
            font-weight: 600;
            font-size: 16px;
        }

        .form-select {
            .MuiSelect-select {
                padding: 8px 14px;
            }
        }
    }

    &-date {
        .form-datepicker {
            margin-bottom: 16px;
            width: 100%;

            .MuiOutlinedInput-input {
                padding: 8px 14px;
            }
        }

        .form-select {
            .MuiInputLabel-root {
                top: -3px;
            }
        }

        .btn-calculate {
            width: 35%;
            padding: 8px 15px;
            border-color: #131313;
            color: #131313;
        }

        .btn-today {
            flex: 1;
            padding: 8px 15px;
            border: 1px solid #131313;
            background-color: #131313;

            &:hover {
                background-color: #131313;
            }
        }
    }

    &-period {
        margin-top: 20px;

        .text-faction {
            padding-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
        }

        dl:not(.gn__period-today) {
            padding: 4px 0;
            display: flex;

            dt {
                width: 110px;
                color: #767676;
                font-size: 14px;
            }

            dd {
                flex: 1;
                font-weight: 600;
                text-align: right;
            }
        }

        .gn__period-today {
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid #ddd;

            > dt {
                padding-bottom: 8px;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}