@charset 'utf-8';

/**
 * 스탯
**/

.gn-stats {
    &-calc {
        .gn-form-box {
            position: relative;
        }

        .text-label {
            small {
                margin-left: 4px;
                color: #767676;
                font-size: 12px;
            }
        }

        .text-level {
            position: absolute;
            top: -26px;
            right: 0;
            margin: 0;

            i {
                margin: 0 6px;
            }
        }

        .text-effect {
            margin-top: -4px;
            padding-bottom: 8px;
            color: #767676;
            font-size: 13px;
            line-height: 1.4;
        }

        // 레벨 슬라이더
        .form-slider {
            margin: 0 auto;
            width: 93%;

            .MuiSlider-thumb {
                color: #131313;

                &::before,
                &.Mui-focusVisible {
                    box-shadow: none;
                }

                &.Mui-active {
                    box-shadow: 0px 0px 0px 14px rgba(19, 19, 19, 0.3);
                }

                &:hover {
                    box-shadow: 0px 0px 0px 8px rgba(19, 19, 19, 0.3);
                }
            }

            .MuiSlider-track {
                border-color: #131313;
                background-color: #131313;
            }

            .MuiSlider-rail {
                background-color: #999;
            }
        }

        dl {
            display: flex;
            line-height: 22px;

            dt {
                flex: 1;
                color: #666;
                font-size: 13px;

                .btn-reload-api {
                    color: #767676;
                    font-size: 13px;

                    i {
                        width: 22px;
                    }
                }
            }

            dd {
                font-weight: 600;
                font-size: 15px;
                text-align: right;

                .image-token-2080 {
                    margin: 2px 4px 0 0;
                    width: 18px;
                    height: 18px;
                }

                .image-token-sol {
                    margin: 2px 4px 0 0;
                    width: 18px;
                    height: 18px;
                }
            }

            &:nth-of-type(n+2) {
                margin-top: 3px;
            }

            &:nth-of-type(5) {
                display: block;
                margin-top: 8px;
                padding-top: 8px;
                border-top: 1px solid #ddd;

                > dt {
                    display: flex;
                    justify-content: space-between;
                    color: $color_main;
                    font-weight: 600;
                    font-size: 18px;
                }

                > dd {
                    margin-top: 12px;

                    > dl {
                        dt {
                            font-weight: 500;
                            font-size: 14px;
                            text-align: left;
                        }

                        dd {
                            font-size: 18px;
                        }

                        &:nth-of-type(n+2) {
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
}