@charset 'utf-8';
@use '../abstracts/variables';

/**
 * 푸터
**/

.gn-layout-footer {
    margin: 0 auto;
    padding: 10px 14px;
    max-width: $layout_max_width;

    &-channel {
        display: flex;

        li {
            flex: 1;
            text-align: center;
        }

        a {
            padding: 8px 5px;
            color: #666;

            b {
                font-size: 13px;
                line-height: 22px;

                small {
                    display: block;
                    font-size: 11px;
                    text-align: center;
                    margin-top: -6px;
                }
            }
        }
    }
}