@charset 'utf-8';
@use '../abstracts/mixin';
@use '../abstracts/variables';

/**
 * grid
**/

:root,
body {
    overflow: hidden;
    height: 100%;
}

:root {
    color: $color_main;
    font-weight: 400;
    font-family: 'PretendardVariable';
}

body {
    // background-color: #e3eaf5;
    background-color: #f5f5f5;
}

.gn-layout-app {
    position: relative;
    height: 100%;
}

.gn-layout-view {
    height: 100%;
}

.gn-layout-page {
    padding: $header_height_base 0 $toolbar_height_base;
    // padding: $header_height_base 0 0;
    height: 100%;

    .gn-scroller {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    &-content {
        margin: 0 auto;
        padding: 20px 14px;
        max-width: $layout_max_width;
    }
}

.gn-layout-sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80%;
    transform: translateX(-100%);
    background-color: #fff;
}