@charset 'utf-8';
@use '../abstracts/mixin';
@use '../abstracts/variables';

/**
 * grid
**/

:root,
body {
    overflow: hidden;
    height: 100%;
}

:root {
    color: $color_main;
    font-weight: 400;
    font-family: 'PretendardVariable';
}

body {
    background-color: #f4f4f4;
}

.gn-layout-app {
    position: relative;
    height: 100%;
}

.gn-layout-view {
    height: 100%;
}

.gn-layout-page {
    padding: $header_height_base 0 $toolbar_height_base;
    // padding: $header_height_base 0 0;
    height: 100%;

    .gn-scroller {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    &-content {
        margin: 0 auto;
        padding: 20px 14px;
        max-width: $layout_max_width;
    }

    .btn-price {
        position: fixed;
        bottom: 70px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        .icon-token {
            display: block;
            height: 15px;
        }

        b {
            display: block;
            margin-top: 4px;
            height: auto;
            font-size: 12px;
        }

        @media screen and (max-width: 450px) {
            right: 15px;
        }

        @media screen and (min-width: 451px) {
            right: 50%;
            margin-right: -290px;
        }
    }
}

.gn-layout-bottomsheet {
    .MuiDrawer-paper {
        margin: 0 auto;
        padding: 20px 14px 42px;
        max-width: 450px;
        border-radius: 20px 20px 0 0;
    }
}