@charset 'utf-8';
@use '../abstracts/variables';

/**
 * 헤더
**/

.gn-layout-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 14px;
    height: $header_height_base;
    background-color: #fff;

    h1 {
        padding-top: 15px;
        font-weight: 400;
        font-size: 20px;

        .icon-logo {
            margin-right: 8px;

            &::before {
                content: '';
                mask-image: url("/image/logo.svg");
                mask-size: auto 100%;
                mask-repeat: no-repeat;
                background-color: #000;
                width: 22px;
                height: 22px;
            }
        }

        b {
            font-weight: 700;
        }
    }

    .btn-menu {
        position: absolute;
        top: 0;
        right: 0;

        .icon-menu {
            padding: 18px;
            width: $header_height_base;
            height: $header_height_base;

            &::before {
                content: '';
                mask-image: url("/image/icon_menu.svg");
                mask-size: auto 100%;
                mask-repeat: no-repeat;
                background-color: #000;
                width: 18px;
                height: 18px;
            }
        }
    }
}